
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

.title-eng{
    color: bisque;
    font-family: Oswald,sans-serif;
    font-size: 25px;
    

}

.title-vie{
    color: rgb(119, 116, 102);
    font-family: Oswald,sans-serif;
    font-weight: 500;
    font-size: 20px;
    

}

.img-card{
    font-size: 2rem;
}

.col{
    padding: 0px;
}

.card-phim{
    margin: 30px;
    padding:10px;
    display: inline-block;
    justify-content: center ;
    align-items: center;
    
}

.list-film{
    justify-content: center ;
    align-items: center;
}