@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

.bg{
    background-image: linear-gradient(to top, #202020, rgb(2 2 2 / 90%)), 
    url(../image/footer.jpg);
    padding: 100px;
}

.text{
    list-style: none;
    display: inline-block;
    font-family: Oswald,sans-serif;
}

.text span{
    font-size: 30px;
}

.text a{
    font-size: larger;
    color: white;

}

.text a:hover{
    font-size: larger;
    color: red;

}

